body{
	color: var(--tg-theme-text-color);
	background-color:  var(--tg-theme-bg-color);
	background-color: #080710;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 18px;
	padding: 50px;
	background-color: rgba(255,255,255,0.13);
	margin: 50px;
	border-radius: 10px;
}

h3 {
	font-size: 50px;
	color: #e5e5e5;
}

label{
	display: block;
	margin-top: 30px;
	font-size: 35px;
	font-weight: 500;
	color: #e5e5e5;
}
input{
	display: block;
	height: 70px;
	width: 95%;
	background-color: rgba(255,255,255,0.07);
	border-radius: 7px;
	padding: 0 15px;
	margin-top: 15px;
	font-size: 28px;
	font-weight: 300;
	color: #e5e5e5;
}
::placeholder{
	color: #e5e5e5;
}